//Variables
$primary-color: #30a5ff;
$primary-color-hover: #50b3ff;
$lighter-gray: #f1f4f7;
$light-gray: #e9ecf2;
$medium-gray: #7c7c7c;
$dark-gray: #444444;
$base-font-size: 14px;
$custom-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
