@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=2fde5e76-8a96-48f1-a60d-9470baf787c3&fontids=1489438,1489454");
@font-face {
    font-family: "Helvetica LT W02";
    src: url("../fonts/helvetica/1489438/2b82abac-2dc4-467b-b89d-4f002e50e28c.woff2")
            format("woff2"),
        url("../fonts/helvetica/1489438/5bdc0ce3-c644-40c0-856d-cf414922dd69.woff") format("woff");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Helvetica LT W02";
    src: url("../fonts/helvetica/1489454/82081359-27f9-46f8-9b95-29ac9f5d12b7.woff2")
            format("woff2"),
        url("../fonts/helvetica/1489454/37ada2f7-cdec-4b2a-a311-3a127a2cf9e7.woff") format("woff");

    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
