

$font: Arial, Helvetica, sans-serif;
$font-title: "Helvetica LT W02";

$transparent: transparent;
$white: #ffffff;
$black: #000000;
$red: #db0f10;
$placeholder: #eeeeee;

$shadow: rgba(0, 0, 0, 0.66);
$border: #ffffff;
$border-dark: #707070;

$bg-color: #ffffff;
$bg-dark: #1d2024;

$primary: $white;
$secondary: $red;

$primary-url: "%23030D3E";

$min-sm: "(min-width: 576px)";
$min-md: "(min-width: 768px)";
$min-lg: "(min-width: 992px)";
$min-xl: "(min-width: 1200px)";
$min-xxl: "(min-width: 1700px)";
