.home-partners {
    position: relative;
    padding: calc(0.105104 * (100vw / 2)) 0;

    h2 {
        margin-bottom: 50px;
    }

    .logos {
        > div {
            margin-bottom: 30px;
        }

        .logo {
            background-color: $white;
            background-repeat: no-repeat;
            background-position: center center;
            height: 160px;
            display: block;
            position: relative;

            &[href*="mediamarkt.pl"] {
                background-position: center 0px;
            }

            &[href*="mediaexpert.pl"] {
                background-position: center -160px;
            }

            &[href*="euro.com.pl"] {
                background-position: center -320px;
            }

            &[href*="neonet.pl"] {
                background-position: center -480px;
            }

            &[href*="morele.net"] {
                background-position: center -800px;
            }

            &[href*="mycenter.pl"] {
                background-position: center -960px;
            }

            &[href*="al.to"] {
                background-position: center -1120px;
            }
        }
    }
}

.webp {
    .home-partners {
        .logos {
            .logo {
                background-image: url(/images/home/logos_new.png.webp);
            }
        }
    }
}

.no-webp {
    .home-partners {
        .logos {
            .logo {
                background-image: url(/images/home/logos_new.png);
            }
        }
    }
}
