.section-text {
    background-color: $white;
    padding: 50px 0;
    overflow: hidden;

    @media #{$min-lg} {
        padding-top: 75px;
    }

    .heading {
        margin-bottom: 20px;
        color: $primary;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        line-height: 54px;
    }
}
